
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.navegador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #00c3ff;
}
main
{
    padding: 12px;
    margin: 45px;
    background-color: mediumorchid;
    width: 252px;
    height: 200px;
    box-shadow: #2a2a2a;

}


.menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}


@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
  }

  .nav.show {
    display: flex;
  }

  .menu {
    display: flex;
  }
}